html, body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}
span{
  color: #000;
}

.container {
  width: 80%;
  margin: auto;
  overflow: auto;
}

header {
  border-bottom: solid 1px #000;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
}

body > .container {
  width: 65%;
  padding-top: 70px;

}
body {
  z-index: 2;
}


header h1 {
  margin-left: 25%;
  height: 100%;
  line-height: 70px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu a {
  padding: 10px;
  margin-left: 10px;
}

.photo {
  width: calc(100%/2);
  padding: 10px;
  margin-bottom: 15px;
}

.photo a {
  display: block;
}

.photo-info a:hover {
  text-decoration: underline;
}


.user-name {
  font-size: 30px;
}

.photo-img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.photo-img:hover {
  opacity: 0.8;
}

.photo-detail .photo-img{
  object-fit: contain; 
}

.photo-detail .photo-img:hover {
  opacity: 1;
}

.message-success {
  background-color: #00d1b2;
  padding: 10px;
  padding-left: 30px;
  border-radius: 4px;
}        

.tweet {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: ridge 0.5px #555;
  word-wrap: break-word;
  color: black;
  position: relative;
}
.tweet-content{
  margin-left: 5px;
  margin-bottom: 15px;
}
.message_owner {
  color: pink;
  margin-left: 5px;
  position: absolute;
	left: 0;
  bottom: 0;
}
.photo_counter {
  color: pink;
}
.clone {
  margin-left: 90%;
  height: 0px;
  z-index: 2;
}
.clone2{
  z-index: 1;
}

.follow_detail {
  display: flex;
}

.comment{
  padding-bottom: 20px;
  border-bottom: ridge 0.5px #555;
}
.comment_user {
  padding-bottom: 5px;
}
.comment_main{
  padding-bottom: 10px;
  padding-left: 10px;
}
.comment_detail {
  font-size: 5px;
  padding-left: 10px;
}
.tweet-date{
  font-size: 5px;
  padding-bottom: 5px;
  margin-left: 70%;
}
