{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>写真投稿サイト</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/805660839a.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/js" src="{% static 'js/hidden.js' %}"></script>
</head>

<body>
    <header>
      <div class="pos-f-t">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a href="{% url 'app:index' %}"><h3>home</h3></a><span class="sr-only">(current)</span></a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                      <a href="{% url 'app:photos_new' %}"><h3>投稿</h3></a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'app:users_detail' request.user.id %}"><h3>マイページ</h3></a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'app:logout' %}"><h3>ログアウト</h3></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a href="{% url 'app:login' %}"><h3>ログイン</h3></a>
                    </li>
                    {% endif %}
                  </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        </div>
    </header>

    <div class="container">
        {% for message in messages %}
            <p class="message-success">{{ message }}</p>
        {% endfor %}
        {% block content %}{% endblock %}
    </div> 
</body>

</html>