{% extends 'app/base.html' %}

{% block content %}

<div class="photo-container">
{% for photo in photos %}
      <div class="tweet">
        <div class="tweet-info">
          <a href="{% url 'app:users_detail' photo.user.id %}">{{ photo.user }}</a>
        </div>
        <div class='tweet-content'>
          <a href="{% url 'app:photos_detail' photo.id %}">
            {{ photo.comment }}
          </a>
        </div>
        {% if photo.image %}
        <div class="photo">
          <a href="{% url 'app:photos_detail' photo.id %}">
            <img src="{{ photo.image.url }}" class="photo-img">
        </a>
        </div>
        {% endif %}
        {% if photo.share_id > 0 %}
        <hr class="share_line">
        <p class="share_item_content">{{photo.get_share}}</P>
        {% endif %}
        <p class="message_owner">
          <a href="{%  url 'app:share' photo.id %}"><span class="photo_counter">share{{photo.share_count}}</span></a>
         
        </p>
      </div>
{% endfor %}
</div>

{% endblock %}
