{% extends 'app/base.html' %}

{% block content %}

<h2 class="user-name">{{ user.username }}</h2>

<div class="photo-container">
{% for photo in photos %}
        <div class="photo-info">
          <a href="{% url 'app:users_detail' photo.user.id %}">{{ photo.owner }}</a>
        </div>
        {% if photo.image %} 
        <div class="photo">
          <a href="{% url 'app:photos_detail' photo.id %}"></a>
            <img src="{{ photo.image.url }}" class="photo-img">
        </a>
        </div>
        {% endif %}
        <div class="photo-comment">
          <a href="{% url 'app:photos_detail' photo.id %}">
            {{ photo.comment }}
          </a>
        </div>
{% endfor %}
</div>

{% endblock %}